{% load static %}
{% block css %}
<!-- Footer CSS -->
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock css %}
<footer class="footer">
    <div class="footer-content">
        <a href="" target="_blank">Hizmet Şartları</a>
    </div>
    <div class="footer-content">
        <a href="" target="_blank">Gizlilik Politikası</a>
    </div>
    <div class="footer-content">
        <a href="" target="_blank">Yardım</a>
    </div>
    <div class="footer-content">
        <a href="" target="_blank">iPhone Uygulaması</a>
    </div>
    <div class="footer-content">
        <a href="" target="_blank">Android Uygulaması</a>
    </div>
    <div class="footer-content">
        <a href="" target="_blank">Kullanıcılar</a>
    </div>
    <div class="footer-content">
        <a href="" target="_blank">Koleksiyonlar</a>
    </div>
    <div class="footer-content">
        <a href="" target="_blank">Alışveriş</a>
    </div>
    <div class="footer-content">
        <a href="" target="_blank">Bugün</a>
    </div>
    <div class="footer-content">
        <a href="" target="_blank">Keşfet</a>
    </div>
</footer>