{% load static %}
{% block css %}
<!-- Navbar CSS -->
<link rel="stylesheet" href="{% static 'css/_navbar.css' %}">
{% endblock css %}


{% if not user.is_authenticated %}
<nav>
   <label for="" class="logo" >
      <a href="">
        <img src="/static/img/WhatsApp Image 2023-08-04 at 22.21.29.jpeg" alt="">
        <ul><li><h1>Pinterest</h1></li></ul>
      </a>
      
    </label>
      
   <ul>
      <li><a href="">Hakkında</a></li>
      <li><a href="">İş Dünyası</a></li>
      <li><a href="">Blog</a></li>
   </ul>
    {% if user.is_authenticated %}
    <label for="" class="logo" >
      <a href="">
        <img src="/static/img/WhatsApp Image 2023-08-04 at 22.21.29.jpeg" alt="">
        <ul><li><h1>Ana Sayfa</h1></li></ul>
      </a>
      
    </label>
    <ul>
          <li>
            <a  onclick="exit(event)" href="{% url 'logout' %}" >Çıkış Yap</a>
          </li>
          <li>
            <a href="{% url 'pinAdd' %}" >Pin Ekle</a>
          </li>
          <li>
            <a href="{% url 'hesap' %}" >Hesabım</a>
          </li>
        </ul>
          {% else %}
          <ul>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
            <button class="btn btn-danger me-md-2" type="button"><a  href="{% url 'login' %}" style="text-decoration: none;">Oturum Aç</a></button>
          </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-secondary" type="button"><a  href="{% url 'register' %}" style="text-decoration: none;">Kaydol</a></button>
          </div>
        </ul>
          {% endif %}
        
  </nav>


  <script>
    function exit(e){
      if(!confirm('Çıkış Yapmak İstediğinize Emin misin ?')){
        e.preventDefault();
      }
    }  
  </script>