{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    {% block css %}
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock css %}
    
</head>
<body>    
    {% include 'includes/_navbar.html' %}
    
    {% block content %} 
     <!-- Containerlar -->
    <!-- Container-1 -->
    <div class="container1">
        <div class="container text-center">
            <div class="yazisiyah" style="font-family: 'Montserrat', sans-serif;" >Get your next</div>
            <div class="yazihareketli" style="font-family: 'Montserrat', sans-serif;">
                <span style="color: darkgoldenrod;">weeknight dinner idea</span>
                <span style="color: rgb(97, 140, 123);;">home decor idea</span>
                <span style="color: rgb(0, 118, 211);">new look outfit idea</span>
                <span style="color: rgb(64, 122, 87);">green thumb idea</span>
            </div>
            <div class="ziplayanok" id="ok">

            </div>
            </div>
          </div>
    </div>
    <!-- Container-2 -->
    <div class="container2">
        <div class="slayt"></div>
    </div>
    <!-- Container-3 -->
    <div class="container3">

    </div>

    
    {% if user.is_authenticated %}
    <div class="container">
        {% for p in pin %}
        <a href="{% url 'detay' p.id %}">
            <img width="150px;" src="{{p.resim.url}}" alt="">
        </a>
            <p>{{p.olusturan}}</p>
        {% endfor %}
    </div>
    {% else %}
        <nav class="navbar" style="padding: 17px;">
        <div class="cont">
            <a href="anasayfa.html" class="navbarbrand">
                <img src="static/img/Pinterest_Logo.png" alt="logo_navbar">
            </a>
            <form class="d-flex" action="">
                <p class="btn text-black" style="font-family: 'Roboto', sans-serif;">Hakkında</p>
                <p class="btn text-black" style="font-family: 'Roboto', sans-serif;">İş Dünyası</p>
                <P class="btn text-black" style="font-family: 'Roboto', sans-serif;">Blog</P>
                <a href="" class="btn btn-danger rounded-pill " role="button" style="font-family: 'Roboto', sans-serif;">Oturum Aç</a>
                <button type="button" class="btn btn-light mx-3 rounded-pill" style="font-family: 'Roboto', sans-serif;">Kaydol</button>
            </form>
        </div>
    </nav>
    {% endif %}
    
    
    {% endblock content %}


    
    {% block script %}   
    {% endblock script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>